.idea/
logs/
outputs/
uploads/
.venv/
env/
.env/
data/
venv/
temp/
.git/
.svn/
.env
bin/
.settings/
__pycache__/
.classpath
.factorypath
.project
.DS_Store
*.iml
*.git
mvnw
mvnw.cmd

# Logs
logs
*.log
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
